<!-- Start: Before Menu -->
<div class="container-fluid">
  <div class="row before-menu mb-0">
    <div class="col-sm-3">
      {% if page.beforemenu1 %}
        {{ page.beforemenu1 }}
      {% endif %}
    </div>
    <div class="col-sm-2">
      {% if page.beforemenu2 %}
        {{ page.beforemenu2 }}
      {% endif %}
    </div>
    <div class="col-sm-2">
      {% if page.beforemenu3 %}
        {{ page.beforemenu3 }}
      {% endif %}
    </div>
    <div class="col-sm-5">
      {% if page.beforemenu4 %}
        {{ page.beforemenu4 }}
      {% endif %}
    </div>
  </div>
</div>
<!-- End: Before Menu -->
<!-- Start: Main Menu -->
<div class="navbar navbar-primary mb-0 b-r-0 bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainMenu">
        <span class="icon-bar bg-white"></span>
        <span class="icon-bar bg-white"></span>
        <span class="icon-bar bg-white"></span>
      </button>
      {% if page.sitebrand %}
        {{ page.sitebrand }}
      {% endif %}
    </div>
    {% if page.mainmenu %}
      <div class="collapse navbar-collapse" id="mainMenu">
        {{ page.mainmenu }}
      </div>
    {% endif %}
  </div>
</div>
<!-- End: Main Menu -->
<!-- Start: banner -->
{% if page.banner %}
  {{ page.banner }}
{% endif %}
<!-- End: banner -->
<div class="container-fluid">
  <!-- Start: Before Content -->
  {% if page.before_content %}
    {{ page.before_content }}
  {% endif %}
  <!-- End: Before Content -->
  <!-- Start: Page Title -->
  {% if page.page_title %}
    {{ page.page_title }}
  {% endif %}
  <!-- End: Page Title -->
  <!-- Start: Content -->
  {% if page.content %}
    {{ page.content }}
  {% endif %}
  <!-- End: Content -->
  <!-- Start: After Content -->
  {% if page.after_content %}
    {{ page.after_content }}
  {% endif %}
  <!-- End: After Content -->
  <!-- Start: Footer -->
  {% if page.footer %}
    {{ page.footer }}
  {% endif %}
  <!-- End: Footer -->
</div>
